COMPOSE_PROJECT_NAME=trendsmagnet_wp

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=db
MYSQL_USER=user
MYSQL_PASSWORD=pass
MYSQL_HOST=trendsmagnet_wp_mariadb_1

WP_HOME='https://www.trendsmag.net/'
WP_SITEURL='https://www.trendsmag.net/'
WP_DEBUG=0
WP_ENV=production
WEBSERVER_PORT=127.0.0.1:80

AUTH_KEY='pon aquí tu frase aleatoria'
SECURE_AUTH_KEY='pon aquí tu frase aleatoria'
LOGGED_IN_KEY='pon aquí tu frase aleatoria'
NONCE_KEY='pon aquí tu frase aleatoria'
AUTH_SALT='pon aquí tu frase aleatoria'
SECURE_AUTH_SALT='pon aquí tu frase aleatoria'
LOGGED_IN_SALT='pon aquí tu frase aleatoria'
NONCE_SALT='pon aquí tu frase aleatoria'
