.htaccess
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/w3tc-config.php
wp-content/db.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-config.php
nbproject/
/wp-content/plugins/all-in-one-wp-security-and-firewall/logs/
/wp-content/aiowps_backups/

/wp-content/mu-plugins/

/wp-content/plugins/core-control/
/wp-content/plugins/debug-*/
/wp-content/plugins/developer/
/wp-content/plugins/query-monitor/
/wp-content/plugins/rewrite-rules-inspector/
/wp-content/plugins/theme-check/
/wp-content/plugins/user-switching/
/wp-content/plugins/wpdevtool/