.htaccess
/site/wp-content/uploads/
/site/wp-content/blogs.dir/
/site/wp-content/upgrade/
/site/wp-content/backup-db/
/site/wp-content/advanced-cache.php
/site/wp-content/wp-cache-config.php
/site/wp-content/w3tc-config.php
/site/wp-content/db.php
sitemap.xml
*.log
/site/wp-content/cache/
/site/wp-content/backups/
sitemap.xml.gz

/site/wp-content/plugins/all-in-one-wp-security-and-firewall/logs/
/site/wp-content/aiowps_backups/

/site/wp-content/mu-plugins/

/site/wp-content/plugins/core-control/
/site/wp-content/plugins/debug-*/
/site/wp-content/plugins/developer/
/site/wp-content/plugins/query-monitor/
/site/wp-content/plugins/rewrite-rules-inspector/
/site/wp-content/plugins/theme-check/
/site/wp-content/plugins/user-switching/
/site/wp-content/plugins/wpdevtool/

/site/wp-content/plugins/sam-images/
!/site/wp-content/plugins/sam-images/.gitkeep

/.idea

/volume/db/mysql

/volume/db/dump/*
!/volume/db/dump/.gitkeep

/volume/logs/*
!/volume/logs/.gitkeep

/volume/uploads/*
!/volume/uploads/.gitkeep

/docker-compose.override.yml
/.env

/backups
