COMPOSE_PROJECT_NAME=trendsmagnet_wp

# Application's path (absolute or relative to docker-file.yml)
APP_PATH=../

#COMPOSE_FILE=./docker-compose.yml

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=db
MYSQL_USER=user
MYSQL_PASSWORD=pass
