version: "3"
services:
    mariadb:
      volumes:
        - ./volume/db/dump:/docker-entrypoint-initdb.d
#      ports:
#        - "3306:3306"
      restart: unless-stopped

    nginx:
      ports:
          - $WEBSERVER_PORT:80
      restart: unless-stopped
